#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 10px;

  align-items: center;
}
.formulario{
  width: 500px;
  display: flex;
  flex-direction: column;
}
.input{
  padding: 10px;
}
.error{
  padding: 10px;
  color: red;
}
.pelicula{
  padding: 10px;
  border: solid yellowgreen 1px;
  border-radius: 8px;
}